<?xml version="1.0" encoding="utf-8"?>
<Content Key="5984a1d6-c2d3-4164-904e-59435d25e18e" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="24b99dcb-7663-42ec-b46f-68d67b607574">Key Links</Parent>
    <Path>/CMS/Groups/group1364a91d6e33411a8b05Ee0182ab780d/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-28T22:22:19</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>