<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0d09218-e93a-493d-8152-6f9dea88dc97" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="294e39bb-4603-42aa-bc99-0989f5310d63">Key Links</Parent>
    <Path>/CMS/Groups/group87090ea8F2904affB0825503a28012db/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-29T10:12:55</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>