<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ec8b670-94ad-4386-b8d8-dfb5dd257afc" Alias="FutureNHS Support" Level="5">
  <Info>
    <Parent Key="67bb09c8-8302-41e5-905d-90ebf613b13f">Key Links</Parent>
    <Path>/CMS/Groups/HomepageTemplate/KeyLinks/FutureNHSSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-29T15:44:30</CreateDate>
    <NodeName Default="FutureNHS Support" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[FutureNHS Support]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>