<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f7b6617-a96d-4656-b065-b762f268a476" Alias="General Page" Level="3">
  <Info>
    <Parent Key="7c9a53b0-bcd0-4ed2-bed5-bc497692a43c">Templates</Parent>
    <Path>/CMS/Templates/GeneralPage</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-06-28T18:01:43</CreateDate>
    <NodeName Default="General Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>