<?xml version="1.0" encoding="utf-8"?>
<Content Key="25c4f6b6-0569-4042-af83-6cfff31c0930" Alias="group:1364a91d-6e33-411a-8b05-ee0182ab780d" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group1364a91d6e33411a8b05Ee0182ab780d</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-06-28T22:22:18</CreateDate>
    <NodeName Default="group:1364a91d-6e33-411a-8b05-ee0182ab780d" />
    <SortOrder>62</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>