<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c43ff19-f97b-4c43-a33a-c4221cee9420" Alias="group:1f682e74-8152-4268-a3bf-b790500c6a3e" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group1f682e7481524268A3bfB790500c6a3e</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-06-24T14:47:26</CreateDate>
    <NodeName Default="group:1f682e74-8152-4268-a3bf-b790500c6a3e" />
    <SortOrder>59</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>