<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bfa52f1-934f-4b54-827a-56d2037e2236" Alias="group:1f5aff58-3fa5-4a67-a536-228940c6df0b" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group1f5aff583fa54a67A536228940c6df0b</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-06-29T23:28:45</CreateDate>
    <NodeName Default="group:1f5aff58-3fa5-4a67-a536-228940c6df0b" />
    <SortOrder>75</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>