<?xml version="1.0" encoding="utf-8"?>
<Content Key="a25676de-7213-4183-a834-8a3925877522" Alias="group:be5d6dda-67fc-4b41-9fc8-931af1e2aa84" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/groupbe5d6dda67fc4b419fc8931af1e2aa84</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage1</ContentType>
    <CreateDate>2022-06-29T23:32:43</CreateDate>
    <NodeName Default="group:be5d6dda-67fc-4b41-9fc8-931af1e2aa84" />
    <SortOrder>77</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[[{"key":"3cbc00b8-808c-4bf2-bc10-dc789683cc0f","name":"keyLinksBlock","ncContentTypeAlias":"keyLinksBlock","PropType":null}]]]></Value>
    </blocks>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <title>
      <Value><![CDATA[Homepage]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>