<?xml version="1.0" encoding="utf-8"?>
<Content Key="929031c1-9980-43fd-ae34-cea54eba6bb5" Alias="group:02ca883d-7e1c-4632-bec6-f1ad3f89dba2" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group02ca883d7e1c4632Bec6F1ad3f89dba2</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-06-29T20:41:59</CreateDate>
    <NodeName Default="group:02ca883d-7e1c-4632-bec6-f1ad3f89dba2" />
    <SortOrder>71</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>