<?xml version="1.0" encoding="utf-8"?>
<Content Key="8809cb63-4412-41e9-a4a2-c8595cc43f87" Alias="group:80ee6d47-6213-4a72-a93e-8349b8a45823" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group80ee6d4762134a72A93e8349b8a45823</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-06-29T16:13:32</CreateDate>
    <NodeName Default="group:80ee6d47-6213-4a72-a93e-8349b8a45823" />
    <SortOrder>69</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>