<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ffe0965-805b-4ae8-96ae-54ba3274ed0d" Alias="group:af971d73-b62b-455d-8d32-bd2234210215" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/groupaf971d73B62b455d8d32Bd2234210215</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-06-29T10:03:30</CreateDate>
    <NodeName Default="group:af971d73-b62b-455d-8d32-bd2234210215" />
    <SortOrder>63</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>