<?xml version="1.0" encoding="utf-8"?>
<Content Key="987a3cf6-3f75-4efe-bedd-5293531be37a" Alias="group:23df9089-c6ec-43b5-b675-b6eaaaf937c1" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group23df9089C6ec43b5B675B6eaaaf937c1</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-06-29T16:12:55</CreateDate>
    <NodeName Default="group:23df9089-c6ec-43b5-b675-b6eaaaf937c1" />
    <SortOrder>68</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>