<?xml version="1.0" encoding="utf-8"?>
<Content Key="14839477-cf6a-42af-93b0-7f02c04e43d7" Alias="group:1f5aff58-3fa5-4a67-a536-228940c6df0b (1)" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group1f5aff583fa54a67A536228940c6df0b1</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage1</ContentType>
    <CreateDate>2022-06-29T23:28:46</CreateDate>
    <NodeName Default="group:1f5aff58-3fa5-4a67-a536-228940c6df0b (1)" />
    <SortOrder>76</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[[{"key":"35f50c62-0072-498e-a40a-4e6ed9465574","name":"Text Block","ncContentTypeAlias":"textBlock","PropType":null,"title":"Text Block","mainText":"test testttt"},{"key":"dcca4c05-ad6e-4a58-9aba-99604d30d70f","name":"Key Links Block","ncContentTypeAlias":"keyLinksBlock","PropType":null,"title":"Key Links","blocks":"[{\"key\":\"b2fff925-c239-4205-9f4d-c2c0125a550f\",\"name\":\"Item 1\",\"ncContentTypeAlias\":\"keyLinkBlock\",\"PropType\":null,\"linkText\":\"Key Link\",\"url\":\"test.com\"}]"}]]]></Value>
    </blocks>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <title>
      <Value><![CDATA[Homepage]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>