<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d28eb6a-152a-429e-be02-b4eb28e8b696" Alias="group:7d94ff66-07d2-4a39-a77c-19412235e055" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group7d94ff6607d24a39A77c19412235e055</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-06-24T14:43:18</CreateDate>
    <NodeName Default="group:7d94ff66-07d2-4a39-a77c-19412235e055" />
    <SortOrder>57</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>