<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7a1b7e6-4297-49f1-bdf6-c06b28a59833" Alias="group:5f51b0ac-6422-461a-a60f-dd74b570d0b7" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group5f51b0ac6422461aA60fDd74b570d0b7</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-06-24T12:35:56</CreateDate>
    <NodeName Default="group:5f51b0ac-6422-461a-a60f-dd74b570d0b7" />
    <SortOrder>56</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>