<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe1c6b60-9532-4ede-83de-d551f20fd2d7" Alias="group:0c6535cf-142a-4d03-9843-847d767ff901" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group0c6535cf142a4d039843847d767ff901</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-06-28T15:35:04</CreateDate>
    <NodeName Default="group:0c6535cf-142a-4d03-9843-847d767ff901" />
    <SortOrder>61</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>