<?xml version="1.0" encoding="utf-8"?>
<Content Key="32a5b9b4-2008-48d2-882c-7b0c3046152f" Alias="group:4894d65f-c5d4-4d22-8af1-d67b3c8f333a" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/group4894d65fC5d44d228af1D67b3c8f333a</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-06-29T20:43:21</CreateDate>
    <NodeName Default="group:4894d65f-c5d4-4d22-8af1-d67b3c8f333a" />
    <SortOrder>72</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>