<?xml version="1.0" encoding="utf-8"?>
<Content Key="efff4c61-61cb-43c5-b4b2-855c278bfeb5" Alias="Homepage Template (1)" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/HomepageTemplate1</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage</ContentType>
    <CreateDate>2022-06-29T15:50:48</CreateDate>
    <NodeName Default="Homepage Template (1)" />
    <SortOrder>66</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>