<?xml version="1.0" encoding="utf-8"?>
<Content Key="67bb09c8-8302-41e5-905d-90ebf613b13f" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="0351893e-da01-47a2-b9ff-093f1d916b65">Homepage Template</Parent>
    <Path>/CMS/Groups/HomepageTemplate/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-29T15:44:30</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>