<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c454797-b487-4554-ad2a-7dc79dd670cd" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="32a5b9b4-2008-48d2-882c-7b0c3046152f">group:4894d65f-c5d4-4d22-8af1-d67b3c8f333a</Parent>
    <Path>/CMS/Groups/group4894d65fC5d44d228af1D67b3c8f333a/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-29T20:43:21</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>