<?xml version="1.0" encoding="utf-8"?>
<Content Key="95e9ecf0-3374-4dcd-a5be-a85f335cb4a3" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="af96a354-3efd-4d8e-9481-d0b7cbe5fefb">Homepage Template (2)</Parent>
    <Path>/CMS/Groups/HomepageTemplate2/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-29T15:50:51</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>