<?xml version="1.0" encoding="utf-8"?>
<Content Key="961915cb-a1ce-4e85-b672-50ec9cc3ac85" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="8bfa52f1-934f-4b54-827a-56d2037e2236">group:1f5aff58-3fa5-4a67-a536-228940c6df0b</Parent>
    <Path>/CMS/Groups/group1f5aff583fa54a67A536228940c6df0b/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-29T23:28:45</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>