<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4baa6cf-201a-4548-912b-6426281a6d1c" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="5c43ff19-f97b-4c43-a33a-c4221cee9420">group:1f682e74-8152-4268-a3bf-b790500c6a3e</Parent>
    <Path>/CMS/Groups/group1f682e7481524268A3bfB790500c6a3e/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-24T14:47:26</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>