<?xml version="1.0" encoding="utf-8"?>
<Content Key="bafd0275-5cd1-49c6-90c7-7310eb12cad8" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="2ffe0965-805b-4ae8-96ae-54ba3274ed0d">group:af971d73-b62b-455d-8d32-bd2234210215</Parent>
    <Path>/CMS/Groups/groupaf971d73B62b455d8d32Bd2234210215/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-29T10:03:30</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>