<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c5bc6b2-6988-4851-a9cd-e72d56065f85" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="fe1c6b60-9532-4ede-83de-d551f20fd2d7">group:0c6535cf-142a-4d03-9843-847d767ff901</Parent>
    <Path>/CMS/Groups/group0c6535cf142a4d039843847d767ff901/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-28T15:35:04</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>