<?xml version="1.0" encoding="utf-8"?>
<Content Key="60bacd0e-2778-4548-9799-9b998a55135a" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="fb909b8f-65f7-48da-91f3-e2f7294cbfa9">group:71dbe843-b1e9-4a58-a582-2c7d2dcf64c9</Parent>
    <Path>/CMS/Groups/group71dbe843B1e94a58A5822c7d2dcf64c9/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-29T20:48:48</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>