<?xml version="1.0" encoding="utf-8"?>
<Content Key="b75c6a59-1ea2-42e1-ad67-64c01422ccc4" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="929031c1-9980-43fd-ae34-cea54eba6bb5">group:02ca883d-7e1c-4632-bec6-f1ad3f89dba2</Parent>
    <Path>/CMS/Groups/group02ca883d7e1c4632Bec6F1ad3f89dba2/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-29T20:42:00</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>