<?xml version="1.0" encoding="utf-8"?>
<Content Key="39f8eca1-42f9-4a90-818a-e40988d6dcf4" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="fc9a3455-d026-4a91-8b8d-52e343f6959b">group:50363fce-db0d-4d60-9d77-e9ff2503145e</Parent>
    <Path>/CMS/Groups/group50363fceDb0d4d609d77E9ff2503145e/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-28T14:55:23</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>