<?xml version="1.0" encoding="utf-8"?>
<Content Key="294e39bb-4603-42aa-bc99-0989f5310d63" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="ef6a66de-e107-4756-912d-66f5bce14937">group:87090ea8-f290-4aff-b082-5503a28012db</Parent>
    <Path>/CMS/Groups/group87090ea8F2904affB0825503a28012db/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-29T10:12:55</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>