<?xml version="1.0" encoding="utf-8"?>
<Content Key="24b99dcb-7663-42ec-b46f-68d67b607574" Alias="Key Links" Level="4">
  <Info>
    <Parent Key="25c4f6b6-0569-4042-af83-6cfff31c0930">group:1364a91d-6e33-411a-8b05-ee0182ab780d</Parent>
    <Path>/CMS/Groups/group1364a91d6e33411a8b05Ee0182ab780d/KeyLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-28T22:22:19</CreateDate>
    <NodeName Default="Key Links" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Key Links]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>