<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2051692-fdbc-43d7-9bd0-25f1fbf27ea4" Alias="keyLinksBlock:c2051692-fdbc-43d7-9bd0-25f1fbf27ea4" Level="4">
  <Info>
    <Parent Key="4463f190-4d60-4289-b033-b619f011b1fe">Automation Admin Group</Parent>
    <Path>/CMS/Groups/AutomationAdminGroup/keyLinksBlockc2051692Fdbc43d79bd025f1fbf27ea4</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-27T15:44:36</CreateDate>
    <NodeName Default="keyLinksBlock:c2051692-fdbc-43d7-9bd0-25f1fbf27ea4" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>