<?xml version="1.0" encoding="utf-8"?>
<Content Key="22ca5a96-9e4e-4f39-837e-1082bf46db37" Alias="keyLinkBlock:22ca5a96-9e4e-4f39-837e-1082bf46db37" Level="5">
  <Info>
    <Parent Key="11dfc4fd-4372-4529-9872-a6503ef20c46">keyLinksBlock:11dfc4fd-4372-4529-9872-a6503ef20c46</Parent>
    <Path>/CMS/Groups/group1f165046f9ea4461a14fbc8df121ca6e/keyLinksBlock11dfc4fd437245299872A6503ef20c46/keyLinkBlock22ca5a969e4e4f39837e1082bf46db37</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-28T14:51:02</CreateDate>
    <NodeName Default="keyLinkBlock:22ca5a96-9e4e-4f39-837e-1082bf46db37" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[test]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[tset.com]]></Value>
    </url>
  </Properties>
</Content>