<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c4a65c1-8220-4641-8de5-63e0c96622c5" Alias="keyLinkBlock:1c4a65c1-8220-4641-8de5-63e0c96622c5" Level="5">
  <Info>
    <Parent Key="f2b4fbe6-ed50-42d7-a6eb-dfcca40f97c7">keyLinksBlock:f2b4fbe6-ed50-42d7-a6eb-dfcca40f97c7</Parent>
    <Path>/CMS/Groups/group50363fceDb0d4d609d77E9ff2503145e/keyLinksBlockf2b4fbe6Ed5042d7A6ebDfcca40f97c7/keyLinkBlock1c4a65c1822046418de563e0c96622c5</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-28T15:22:24</CreateDate>
    <NodeName Default="keyLinkBlock:1c4a65c1-8220-4641-8de5-63e0c96622c5" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[test]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[set.com]]></Value>
    </url>
  </Properties>
</Content>