<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b32cb1f-0d2f-4c6c-b737-a76c62dded14" Alias="keyLinksBlock:8b32cb1f-0d2f-4c6c-b737-a76c62dded14" Level="4">
  <Info>
    <Parent Key="4463f190-4d60-4289-b033-b619f011b1fe">Automation Admin Group</Parent>
    <Path>/CMS/Groups/AutomationAdminGroup/keyLinksBlock8b32cb1f0d2f4c6cB737A76c62dded14</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinksBlock</ContentType>
    <CreateDate>2022-06-28T22:39:54</CreateDate>
    <NodeName Default="keyLinksBlock:8b32cb1f-0d2f-4c6c-b737-a76c62dded14" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[test]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>