<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b91dfa6-debf-46e2-96d0-376d6d975e4a" Alias="keyLinkBlock:8b91dfa6-debf-46e2-96d0-376d6d975e4a" Level="5">
  <Info>
    <Parent Key="f2b4fbe6-ed50-42d7-a6eb-dfcca40f97c7">keyLinksBlock:f2b4fbe6-ed50-42d7-a6eb-dfcca40f97c7</Parent>
    <Path>/CMS/Groups/group50363fceDb0d4d609d77E9ff2503145e/keyLinksBlockf2b4fbe6Ed5042d7A6ebDfcca40f97c7/keyLinkBlock8b91dfa6Debf46e296d0376d6d975e4a</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-28T15:22:29</CreateDate>
    <NodeName Default="keyLinkBlock:8b91dfa6-debf-46e2-96d0-376d6d975e4a" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[test]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[test.com]]></Value>
    </url>
  </Properties>
</Content>