<?xml version="1.0" encoding="utf-8"?>
<Content Key="29bf2967-64bb-4cee-af0b-7de890227ef1" Alias="Nested Content Test" Level="3">
  <Info>
    <Parent Key="98a0dfd9-646b-402f-a9e4-46e69d8450d0">Groups</Parent>
    <Path>/CMS/Groups/NestedContentTest</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage1</ContentType>
    <CreateDate>2022-06-29T16:38:05</CreateDate>
    <NodeName Default="Nested Content Test" />
    <SortOrder>70</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[[{"key":"74b20dfa-9724-4ba7-9fdf-1443947026c7","name":"Text Block","ncContentTypeAlias":"textBlock","PropType":null,"title":"text block","mainText":"test"},{"key":"e90de366-9b98-47a8-bb36-2efd8a2e1898","name":"Key Links Block","ncContentTypeAlias":"keyLinksBlock","PropType":null,"title":"key links block","blocks":"[{\"key\":\"5746f2d4-b433-4edf-aaef-0bdf2ebe103d\",\"name\":\"Item 1\",\"ncContentTypeAlias\":\"keyLinkBlock\",\"PropType\":null,\"linkText\":\"key link block\",\"url\":\"google.com\"}]"}]]]></Value>
    </blocks>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <title>
      <Value><![CDATA[Homepage]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>