<?xml version="1.0" encoding="utf-8"?>
<Content Key="b48c431d-6ce0-43ac-af67-198d14628bb3" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="7c454797-b487-4554-ad2a-7dc79dd670cd">Key Links</Parent>
    <Path>/CMS/Groups/group4894d65fC5d44d228af1D67b3c8f333a/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-29T20:43:21</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>