<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d12f6b4-2c26-4800-9f9d-2ce7dcbb1406" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="39f8eca1-42f9-4a90-818a-e40988d6dcf4">Key Links</Parent>
    <Path>/CMS/Groups/group50363fceDb0d4d609d77E9ff2503145e/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-28T14:55:23</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>