<?xml version="1.0" encoding="utf-8"?>
<Content Key="d14a41cd-f80d-467f-bd7f-42c86e1eba62" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="7c454797-b487-4554-ad2a-7dc79dd670cd">Key Links</Parent>
    <Path>/CMS/Groups/group4894d65fC5d44d228af1D67b3c8f333a/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-29T20:43:21</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>