<?xml version="1.0" encoding="utf-8"?>
<Content Key="3fadab8a-0831-4dba-b96b-4695db53019f" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="3c5bc6b2-6988-4851-a9cd-e72d56065f85">Key Links</Parent>
    <Path>/CMS/Groups/group0c6535cf142a4d039843847d767ff901/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-28T15:35:04</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>