<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0bd4b39-1003-408b-b65c-acee9b8ddd84" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="bafd0275-5cd1-49c6-90c7-7310eb12cad8">Key Links</Parent>
    <Path>/CMS/Groups/groupaf971d73B62b455d8d32Bd2234210215/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-29T10:03:30</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>