<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9c6a1da-983a-48e9-b607-5f9214c4efd3" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="294e39bb-4603-42aa-bc99-0989f5310d63">Key Links</Parent>
    <Path>/CMS/Groups/group87090ea8F2904affB0825503a28012db/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-29T10:12:55</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>