<?xml version="1.0" encoding="utf-8"?>
<Content Key="620233ef-8ecb-44fc-815a-df0dee0111c4" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="67bb09c8-8302-41e5-905d-90ebf613b13f">Key Links</Parent>
    <Path>/CMS/Groups/HomepageTemplate/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-29T15:44:30</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>