<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2197b5a-5de1-4c25-8995-44c09945a291" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="24b99dcb-7663-42ec-b46f-68d67b607574">Key Links</Parent>
    <Path>/CMS/Groups/group1364a91d6e33411a8b05Ee0182ab780d/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-28T22:22:19</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>