<?xml version="1.0" encoding="utf-8"?>
<Content Key="e17f2d1e-22ac-4c40-8bfe-efa80fce32a5" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="961915cb-a1ce-4e85-b672-50ec9cc3ac85">Key Links</Parent>
    <Path>/CMS/Groups/group1f5aff583fa54a67A536228940c6df0b/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-29T23:28:45</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>