<?xml version="1.0" encoding="utf-8"?>
<Content Key="74717c93-af19-49f7-bf52-d555b00d6005" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="95e9ecf0-3374-4dcd-a5be-a85f335cb4a3">Key Links</Parent>
    <Path>/CMS/Groups/HomepageTemplate2/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-29T15:50:51</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>