<?xml version="1.0" encoding="utf-8"?>
<Content Key="189b438f-691f-434a-88f9-379dc355300d" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="67bb09c8-8302-41e5-905d-90ebf613b13f">Key Links</Parent>
    <Path>/CMS/Groups/HomepageTemplate/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-29T15:44:30</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>