<?xml version="1.0" encoding="utf-8"?>
<Content Key="cab299b9-37d2-430e-851b-4907c28222d3" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="e4baa6cf-201a-4548-912b-6426281a6d1c">Key Links</Parent>
    <Path>/CMS/Groups/group1f682e7481524268A3bfB790500c6a3e/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-24T14:47:26</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>