<?xml version="1.0" encoding="utf-8"?>
<Content Key="9877765b-e251-4698-a3ee-41595e84f4ca" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="39f8eca1-42f9-4a90-818a-e40988d6dcf4">Key Links</Parent>
    <Path>/CMS/Groups/group50363fceDb0d4d609d77E9ff2503145e/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-28T14:55:23</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>