<?xml version="1.0" encoding="utf-8"?>
<Content Key="b89efa5a-ca13-4d24-a721-4fad8ab6bc88" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="95e9ecf0-3374-4dcd-a5be-a85f335cb4a3">Key Links</Parent>
    <Path>/CMS/Groups/HomepageTemplate2/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-29T15:50:51</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>