<?xml version="1.0" encoding="utf-8"?>
<Content Key="4232d14a-d091-4025-bd80-f59c52a40996" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="60bacd0e-2778-4548-9799-9b998a55135a">Key Links</Parent>
    <Path>/CMS/Groups/group71dbe843B1e94a58A5822c7d2dcf64c9/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-29T20:48:48</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>