<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7a080da-a02f-48d7-a9c4-92aad846e18c" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="961915cb-a1ce-4e85-b672-50ec9cc3ac85">Key Links</Parent>
    <Path>/CMS/Groups/group1f5aff583fa54a67A536228940c6df0b/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-29T23:28:45</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>