<?xml version="1.0" encoding="utf-8"?>
<Content Key="e06fbe42-47cb-41bf-8f70-39d2f383ae13" Alias="NHS England" Level="5">
  <Info>
    <Parent Key="b75c6a59-1ea2-42e1-ad67-64c01422ccc4">Key Links</Parent>
    <Path>/CMS/Groups/group02ca883d7e1c4632Bec6F1ad3f89dba2/KeyLinks/NHSEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-29T20:42:00</CreateDate>
    <NodeName Default="NHS England" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS England]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>