<?xml version="1.0" encoding="utf-8"?>
<Content Key="05d9c6b1-4659-492b-8235-84ef35848a50" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="e4baa6cf-201a-4548-912b-6426281a6d1c">Key Links</Parent>
    <Path>/CMS/Groups/group1f682e7481524268A3bfB790500c6a3e/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-24T14:47:26</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>