<?xml version="1.0" encoding="utf-8"?>
<Content Key="1214f3ce-edba-498a-8722-c361d6d5863b" Alias="NHS Website" Level="5">
  <Info>
    <Parent Key="24b99dcb-7663-42ec-b46f-68d67b607574">Key Links</Parent>
    <Path>/CMS/Groups/group1364a91d6e33411a8b05Ee0182ab780d/KeyLinks/NHSWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>keyLinkBlock</ContentType>
    <CreateDate>2022-06-28T22:22:19</CreateDate>
    <NodeName Default="NHS Website" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[NHS Website]]></Value>
    </linkText>
    <url>
      <Value><![CDATA[]]></Value>
    </url>
  </Properties>
</Content>