<?xml version="1.0" encoding="utf-8"?>
<Content Key="c57bae71-fa33-49ba-85d2-c1b924aacf43" Alias="textBlock:c57bae71-fa33-49ba-85d2-c1b924aacf43" Level="4">
  <Info>
    <Parent Key="4463f190-4d60-4289-b033-b619f011b1fe">Automation Admin Group</Parent>
    <Path>/CMS/Groups/AutomationAdminGroup/textBlockc57bae71Fa3349ba85d2C1b924aacf43</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-06-27T15:43:02</CreateDate>
    <NodeName Default="textBlock:c57bae71-fa33-49ba-85d2-c1b924aacf43" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>