<?xml version="1.0" encoding="utf-8"?>
<Content Key="cac7ed6c-8117-4913-9706-4d7cc42bdefb" Alias="Welcome to FutureNHS" Level="4">
  <Info>
    <Parent Key="0351893e-da01-47a2-b9ff-093f1d916b65">Homepage Template</Parent>
    <Path>/CMS/Groups/HomepageTemplate/WelcomeToFutureNHS</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-06-29T15:44:30</CreateDate>
    <NodeName Default="Welcome to FutureNHS" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[A platform from the NHS, helping the health and social care sector connect and collaborate]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[Welcome to FutureNHS]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>