<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6a74efb-fd3a-49db-ad2f-bbe6873c2eda" Alias="Welcome to FutureNHS" Level="4">
  <Info>
    <Parent Key="8bfa52f1-934f-4b54-827a-56d2037e2236">group:1f5aff58-3fa5-4a67-a536-228940c6df0b</Parent>
    <Path>/CMS/Groups/group1f5aff583fa54a67A536228940c6df0b/WelcomeToFutureNHS</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-06-29T23:28:45</CreateDate>
    <NodeName Default="Welcome to FutureNHS" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[A platform from the NHS, helping the health and social care sector connect and collaborate]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[Welcome to FutureNHS]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>