<?xml version="1.0" encoding="utf-8"?>
<Content Key="c13f489f-08c4-4e56-b506-c1be61a3c993" Alias="Welcome to FutureNHS" Level="4">
  <Info>
    <Parent Key="ef6a66de-e107-4756-912d-66f5bce14937">group:87090ea8-f290-4aff-b082-5503a28012db</Parent>
    <Path>/CMS/Groups/group87090ea8F2904affB0825503a28012db/WelcomeToFutureNHS</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-06-29T10:12:55</CreateDate>
    <NodeName Default="Welcome to FutureNHS" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[A platform from the NHS, helping the health and social care sector connect and collaborate]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[Welcome to FutureNHS]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>