<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cfdafc6-8b80-43e2-93b0-c7f75a9127ef" Alias="Welcome to FutureNHS" Level="4">
  <Info>
    <Parent Key="fc9a3455-d026-4a91-8b8d-52e343f6959b">group:50363fce-db0d-4d60-9d77-e9ff2503145e</Parent>
    <Path>/CMS/Groups/group50363fceDb0d4d609d77E9ff2503145e/WelcomeToFutureNHS</Path>
    <Trashed>false</Trashed>
    <ContentType>textBlock</ContentType>
    <CreateDate>2022-06-28T14:55:23</CreateDate>
    <NodeName Default="Welcome to FutureNHS" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainText>
      <Value><![CDATA[A platform from the NHS, helping the health and social care sector connect and collaborate]]></Value>
    </mainText>
    <mainTextIntroduction>
      <Value><![CDATA[]]></Value>
    </mainTextIntroduction>
    <mainTextSubtitle>
      <Value><![CDATA[]]></Value>
    </mainTextSubtitle>
    <title>
      <Value><![CDATA[Welcome to FutureNHS]]></Value>
    </title>
    <titleIntroduction>
      <Value><![CDATA[]]></Value>
    </titleIntroduction>
    <titleSubtitle>
      <Value><![CDATA[]]></Value>
    </titleSubtitle>
  </Properties>
</Content>