<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b67df5d-711d-44ee-949b-64ccac09f501" Alias="Homepage Blueprint" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomepageBlueprint</Path>
    <Trashed>false</Trashed>
    <ContentType>generalWebPage1</ContentType>
    <CreateDate>2022-06-29T19:43:05</CreateDate>
    <NodeName Default="Homepage Blueprint" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[[{"key":"35f50c62-0072-498e-a40a-4e6ed9465574","name":"Text Block","ncContentTypeAlias":"textBlock","PropType":null,"title":"Text Block","mainText":"test test"},{"key":"dcca4c05-ad6e-4a58-9aba-99604d30d70f","name":"Key Links Block","ncContentTypeAlias":"keyLinksBlock","PropType":null,"title":"Key Links","blocks":"[{\"key\":\"b2fff925-c239-4205-9f4d-c2c0125a550f\",\"name\":\"Item 1\",\"ncContentTypeAlias\":\"keyLinkBlock\",\"PropType\":null,\"linkText\":\"Key Link\",\"url\":\"test.com\"}]"}]]]></Value>
    </blocks>
    <customizable>
      <Value><![CDATA[1]]></Value>
    </customizable>
    <title>
      <Value><![CDATA[Homepage]]></Value>
    </title>
    <userEditing>
      <Value><![CDATA[]]></Value>
    </userEditing>
  </Properties>
</Content>