<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b1fd9d98-5097-40ea-b05a-7313fbba8da5" Alias="Block Picker" Level="1">
  <Info>
    <Name>Block Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/3e7e64ffa31744a786284af58f0ccddf"
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>