<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ee86f2c-e7aa-4c0c-8dd2-f0fad4be4e4f" Alias="General Web Page - Nested Content" Level="1">
  <Info>
    <Name>General Web Page - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "textBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "keyLinksBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>