<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5018b278-1ed0-48a4-b663-fa327568a46f" Alias="Json" Level="1">
  <Info>
    <Name>Json</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>