<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b17301fb-52e7-4f21-ab44-d4c9f59c2d34" Alias="Key Links Block - Nested Content" Level="1">
  <Info>
    <Name>Key Links Block - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "keyLinkBlock",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>