<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ff71db46-9ae9-4ea4-a506-b1d136dcae01" Alias="keyLinkBlock" Level="3">
  <Info>
    <Name>Key Link Block (Nested Content)</Name>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A block with key links</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>FutureNHSPageBuilder/Blocks+Container</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ce9e23a2-3fed-4448-bd5f-8b40377901af" SortOrder="0">keyLinkBlock</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>09769d10-aea0-47fb-a5e5-c782a6696af8</Key>
      <Name>Link Text</Name>
      <Alias>linkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>67af372e-95b0-4e44-9e15-4da3531608d1</Key>
      <Name>Url</Name>
      <Alias>url</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>70ccbb19-81c8-47b3-8d2f-b0144e555ff9</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>