<?xml version="1.0" encoding="utf-8"?>
<DataType Key="52f67947-bd1d-433f-96f6-723a9c3f76b8" Alias="Json Content" Level="1">
  <Info>
    <Name>Json Content</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>